.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  width: 100%;
  background: url('http://mirpozitiva.ru/uploads/posts/2016-10/1477494872_vid_iz_samoleta_krilo.jpg') no-repeat center top;
  background-color: $dark-blue;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.header__logo {
  margin: $m-size;
}

.header__title {
  color: $off-white;
  font-size: $font-size-large;
  font-weight: 500;
  margin: 0;
  margin-bottom: $l-size;
}
